core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
.venv
apps/news/tests/fixtures/social_app.json
bulleo_backup.dump
git-filter-repo.py
heroku_logs.txt
db.sqlite3